$tablet: 1040px;
$mobile: 640px;

$main:      #d60000;
$secondary: #2d79ff;
$white:     #ffffff;
$lightGrey: #e9e9e9;
$grey:      #c6c6c6;
$black:     #000000;

$sitePadding:    10px;
$defaultSpacing: 20px;
$siteMaxWidth:   1280px;

$defaultFont: 'Roboto', sans-serif;
