@import 'styles/config';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
}

.star {
  position: absolute;
  top: 0;
  right: 0;
  color: $grey;
  background: $white;
  height: 50px;
  width: 25px !important;
  padding: 0 2.5px;
  box-shadow: -2px 2px 4px rgba($black, .2);
  border-radius: 0 0 0 3px;

  &Active, &:hover {
    color: $main;
  }
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: $defaultSpacing;
  transition: transform .25s ease-out;
  cursor: pointer;
  
  &:hover {
    transform: scale(1.1);
  }
  
  &Image {
    &Wrapper {
      position: relative;
    }

    border-radius: 3px;
    min-height: 300px;
    min-width: 300px;
    background: $lightGrey;
    padding: $defaultSpacing;
  }
  
  &Title {
    color: $black;
    font-size: 1.1rem;
    margin: 5px 0;
    max-width: 300px;
    text-align: center;
  }

  &Year {
    color: $grey;
  }
}
