@import 'styles/config';

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $defaultSpacing;
  background: $main;
  height: 50px;
}

.search {
  width: 60%;
  height: 85%;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
  color: $white;
  transition: .25s transform ease-out;

  &:hover {
    transform: scale(1.2);
  }
}

.content {
  margin: 0 auto;
  padding: $defaultSpacing;
}

.footer {
  background: $secondary;
  height: 25px;
}
