@import 'styles/config';

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 $defaultSpacing;
  background: $main;
  height: 50px;
}

.search {
  width: 60%;
  height: 85%;
}

.content {
  max-width: $siteMaxWidth;
  margin: 0 auto;
  padding: $defaultSpacing;
}

.footer {
  background: $secondary;
  height: 25px;
}
